html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
}

header {
  grid-area: header;
  height: 75px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 17.3% 75.3% 7.3%;
  background: #2c2622;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#logoLink {
  text-decoration: none;
  color: #F26E50;
}

#main {
  grid-area: main;
  display: grid;
  grid-template-areas:
                       "topImage topImage"
                       "textBox1 textBox1"
                       "textBox2 imageBox";
}

.topImage {
  grid-area: topImage;
}

.textBox1 {
  grid-area: textBox1;
  width: 90%;
  margin-left: 5%;
}

.textBox2 {
  grid-area: textBox2;
  width: 90%;
  margin-left: 10%;
}

.imageBox {
  grid-area: imageBox;
  width: 70%;
  margin-left: 20%;
}

#overviewImg {
  width: 100%;
  height: 90%;
  margin-top: 4.5%;
}

#overviewBanner {
  width: 100%;
  height: 100%;
}

h1 {
  width: 100%;
  margin-left: 5%;
  color: #F26E50;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  margin-bottom: 0;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  margin-left: 5%;
  font-size: 24px;
  margin-top: 5%;
  margin-bottom: 2.5%;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2%;
}

#textbox2P {
  margin-bottom: 4%;
}

.h2Line {
  margin-top: 0;
  padding-top: 0;
  width: 30%;
  margin-right: 80%;
  margin-bottom: 4%;
}

.overviewHr {
  padding: 0;
  margin-top: 3%;
  margin-bottom: 1.5%;
}


/*Mars Weather styles*/
#weatherBoxes {
  display: grid;
  grid-template-areas:
                       "weatherBox1 weatherBox2";
                       grid-template-columns: 40%;
}

.weatherbox {
  background: #ddd;
  color: black;
}

.weatherBox1 {
  grid-area: weatherBox1;
  width: 500px;
  height: 480px;
  border: 1px solid black;
  margin-left: 25%;
  position: relative;
}

.weatherBox2 {
  grid-area: weatherBox2;
  width: 500px;
  height: 480px;
  margin-left: 8%;
  border: 1px solid black;
  position: relative;
}

.weatherBoxH3 {
  background: #592B27;
  height: 15%;
  position: relative;
}

.weatherH3 {
  color: white;
  margin-top: 0;
  padding-top: 3%;
}

#weatherH4 {
  font-size: 32px;
}

#weatherParagraph {
  margin-left: 10%;
  width: 1200px;
}

.weatherP:first-of-type {
  margin-top: 7%;
  margin-bottom: 0;
  font-weight: bold;
}

.weatherP {
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  margin-left: 5%;
  margin-top: 0;
  width: 90%;
}

#currentWind {
  margin-left: 45%;
}

.thumbContainer {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.weatherThumb {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

.thumbPhigh {
  position: absolute;
  color: white;
  top: 5%;
  left: 7%;
}

.thumbPavg {
  position: absolute;
  color: white;
  top: 14%;
  left: 7%;
}

.thumbPlow {
  position: absolute;
  color: white;
  top: 23%;
  left: 7%;
}

#high {
  margin-left: 2px;
}

#avg {
  margin-left: 12px;
}

#low {
  margin-left: 6px;
}

#highWind {
  margin-left: 2px;
}

#avgWind {
  margin-left: 12px;
}

#lowWind {
  margin-left: 7px;
}

.tempChoice:first-of-type {
  position: absolute;
  left: 22%;
}

.tempChoice {
  position: absolute;
  border: 0;
  left: 5%;
  height: 25px;
  width: 80px;
  border: none;
  background: #592B27;
  color: white;
  box-shadow: 2px 3px #111;
  cursor: pointer;
}

.speedChoice:first-of-type {
  position: absolute;
  left: 5%;
}

.speedChoice {
  position: absolute;
  margin-top: 2%;
  left: 14%;
  height: 25px;
  width: 40px;
  border: none;
  background: #592B27;
  color: white;
  box-shadow: 2px 3px #111;
  cursor: pointer;
}


/*Mission Timeline styles*/
#timelineImg {
  width: 75%;
  height: 222px;
  margin-left: 5%;
  display: inline-block;
}

#stagesGrid {
  display: grid;
  grid-template-areas:
                       "stagesBox1 stagesBox2"
                       "stagesBox3 stagesBox4"
                       "stagesBox5 stagesBox5";
}

.stagesBox {
  border-radius: 10px;
  margin: 0 auto;
  background: lightgrey;
  width: 460px;
  height: 340px;
  margin-bottom: 5%;
  margin-left: 10%
}

.stagesBox1 {
  grid-area: stagesBox1;
}

.stagesBox2 {
  grid-area: stagesBox2;
  margin-left: 0;
}

.stagesBox3 {
  grid-area: stagesBox3;
}

.stagesBox4 {
  grid-area: stagesBox4;
  margin-left: 0;
}

.stagesBox5 {
  grid-area: stagesBox5;
  margin-left: 5%;
}

#stagesH4 {
  background-color: #2c2622;
  border-radius: 10px 10px 0 0;
  margin-top: 0;
  height: 15%;
  color: white;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 5%;
  padding-top: 6%;
}

.stagesText {
  width: 90%;
  margin: 0 auto;
}

/* Navigation */
nav {
  width: 100%;
}

li:first-of-type {
  margin-left: 20%;
}

ul {
}

li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 4%;
  margin-top: 1%;
}

li:first-of-type:hover {
  color: orange;
}

a {
  cursor: pointer;
}

a:hover {
  color: #f26e50;
}


/*Dropdown Menu*/
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8.24px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #2c2622;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c2622;
  min-width: 160px;
  box-shadow: 0px 2px 8px 0px #2c2622;
  z-index: 1;
  left: 33.7%;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f26e50;}

.dropdown:hover .dropdown-content {
  display: block;
}

.open {
  color: blue;
}

.burger {
  display: block;
}


/*Social Media and Mail icons */
.social {
  margin: 0 auto;
}

.socialMobile {
  display: none;
}

.fa {
  font-size: 18px;
  margin-top: 35px;
  margin-left: 5px;
  text-decoration: none;
  color: white;
}


footer {
  grid-area: footer;
  height: 50px;
  background: black;
}


/*TABLET STYLES*/
@media screen and (max-width: 980px) {
  html {
    width: 100%;
    max-width: 980px;
  }

header {
  grid-area: header;
  height: 100px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 17.3% 75.3% 7.3%;
  background: #2c2622;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#container {
  width: 100%;
  max-width: 980px;
}

#newMain {
  display: none;
}

h1 {
  margin-top: 15%;
  margin-left: 7%;
  text-align: center;
}

.main {

}

.social {
  display: none;
}

.burger {
  display: block;
}

.line {
  background: white;
  width: 65%;
  height: 6%;
  margin-top: 12%;
}

.line:first-of-type {
  margin-top: 65%;
}

ul {
  display: none;
}

/* Burger Div */
.burgerDiv {
  width: 100%;
  background: #592B27;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 22% 22% 22% 22%;
  font-family: 'Open Sans', sans-serif;
}

div.burgerLinks a {
  width: 100%;
  font-size: 32px;
  color: white;
  padding-top: 7%;
  margin-left: 33%;
  text-align: center;
}

.linkHr {
  width: 100%;
  margin-top: 15.3%;
}

.linkH3 {
  margin-left: 0%;
}

.containDiv {
  display: block;
}

.containDivNone {
  display: none;
}

.close {
  position: absolute;
  font-size: 50px;
  color: white;
  top: 5%;
  right: 3%;
}

.closeHidden {
  display: none;
}

.open {
  display: inline-block;
}


/*MISSION OVERVIEW STYLES*/
.textBox2 {
  margin-left: 5%;
}

#overviewImg {
  width: 90%;
}


/*MARS WEATHER STYLES*/
#mainWeather {
  grid-area: main;
  display: grid;
  grid-template-areas:
                       "topImage"
                       "textBox1"
                       "textBox2"
                       "imageBox";
}

#weatherBoxes {
  grid-template-areas: "weatherBox1"
                       "weatherBox2";
}

#weatherParagraph {
  width: 90%;
  margin: 0 auto;
}

.weatherBox1 {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.weatherBox2 {
  width: 90%;
  margin: 0 auto;
}



/*MISSION TIMELINE STYLES*/
#stagesGrid {
  grid-template-areas: "stagesBox1"
                       "stagesBox2"
                       "stagesBox3"
                       "stagesBox4"
                       "stagesBox5";
}

.topImage {
  max-width: 980px;
  width: 100%;
}

.stagesBox {
  width: 90%;
  margin-left: 5%;
}

#timelineImg {
  width: 90%;
}

#mainTimeline {
  height: 100%;
  grid-template-areas: "topImage"
                       "textBox1"
                       "textBox2"
                       "imageBox";
}

}


@media screen and (max-width: 480px) {
  html {
    height: 100%;
  }

  header {
    height: 100px;
    grid-template-rows: 100%;
    grid-template-columns: 50% 35% 15%;
  }

  #container {
    width: 100%;
    max-width: 480px;
  }

  .main {
    height: 100%;
  }

  .socialMobile {
    margin-left: 25%;
    display: block;
  }

  .fa {
    font-size: 32px;
    margin-left: 10%;
    margin-bottom: 0%;
    margin-top: 7%;
  }

  footer {
    opacity: 1;
    height: 70px;
  }


  /*MISSION OVERVIEW STYLES*/
  .topImage {
    max-width: 480px;
    height: 140px;
  }

  #textbox2P {

  }

  .imageBox {
    margin-left: 15%;
  }

  #overviewImg {
    width: 100%;
  }


  /*MISSION TIMELINE STYLES*/
  #timelineImg {
    width: 100%;
    height: 50%;
    margin-left: 0;
  }

  .stagesBox {
    height: 380px;
    width: 98%;
    margin-left: 1%;
  }


  /*MARS WEATHER STYLES*/
  .weatherbox {
    height: 400px;
    width: 98%;
  }

  /* Burger Div */
  .burgerDiv {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 22% 22% 22% 22%;
    text-align: center;
  }

  div.burgerLinks a {
    width: 100%;
    font-size: 22px;
    padding-top: 0;
    margin-left: 0%;
    text-align: center;
    text-decoration: none;
  }

  .linkHr {
    width: 100%;
    margin-top: 16.3%;
    padding-top: 0%;
  }

  .linkH3 {
    margin-left: 0%;
    margin-top: 13%;
  }

  .linkH3:first-of-type {
    margin-left: 0%;
    margin-top: 10%;
  }

  .containDiv {
    padding-top: 0px;
  }

  .close {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 0%;
    right: 5%;
    font-weight: bold;
  }
