html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #fdfdfd;
}

#container {
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
}

header {
  grid-area: header;
  height: 75px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 17.3% 75.3% 7.3%;
  background: #2c2622;
  color: #fdfdfd;
  font-family: 'Open Sans', sans-serif;
}

#logoLink {
  text-decoration: none;
  color: #F26E50;
}

#logoLink:hover {
  transition: 0;
  font-size: 1em;
}

#main {
  grid-area: main;
  display: grid;
  grid-template-areas:
                       "topImage topImage"
                       "textBox1 textBox1"
                       "textBox2 imageBox";
}

.topImage {
  grid-area: topImage;
}

h1 {
  width: 100%;
  margin-left: 5%;
  color: #F26E50;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  margin-bottom: 0;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  margin-left: 5%;
  font-size: 24px;
  margin-top: 5%;
  margin-bottom: 2.5%;
}

p {
  line-height: 26px;

}

.h2Line {
  margin-top: 0;
  padding-top: 0;
  width: 30%;
  margin-right: 80%;
  margin-bottom: 4%;
}


/* Navigation */
nav {
  width: 100%;
}

li:first-of-type {
  margin-left: 20%;
}

li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 4%;
  margin-top: 1%;
}

li:first-of-type:hover {
  color: #f26e50;
}

a {
  cursor: pointer;
  font-weight: 500;
}

a:hover {
  color: #f26e50;
  font-size: 1.1em;
  transition: 1s;
}

.active {
  color: #f26e50;
  font-size: 1.1em;
  font-weight: bold;
}


/*Dropdown Menu*/
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8.24px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #2c2622;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c2622;
  min-width: 160px;
  box-shadow: 0px 2px 8px 0px #2c2622;
  z-index: 1;
  left: 35.7%;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f26e50;}

.dropdown:hover .dropdown-content {
  display: block;
}

.open {
  color: blue;
}

.burger {
  display: block;
}


/*Social Media and Mail icons */
.social {
  margin: 0 auto;
}

.socialMobile {
  display: none;
}

.fa {
  font-size: 18px;
  margin-top: 35px;
  margin-left: 5px;
  text-decoration: none;
  color: white;
}


/*MISSION OVERVIEW STYLES*/
.textBox1 {
  grid-area: textBox1;
  width: 90%;
  margin-left: 5%;
  font-family: 'Roboto', sans-serif;
}

.textBox2 {
  grid-area: textBox2;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.overviewContainer {
  display: flex;
  width: 100%;
}

.overviewContainer:last-of-type {
  margin-bottom: 5%;
}

.textContainer {
  max-width: 700px;
}

#overviewH3 {
  margin-left: 45%;
  font-family: 'Open Sans', sans-serif;
  font-size: 24;
  text-transform: uppercase;
}

#overviewH3Last {
  margin-left: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 24;
  text-transform: uppercase;
}

.overviewP {
  font-size: 16px;
  color: #0d0d0d;
  width: 100%;
  margin-top: 0;
}

.overviewP2 {
  font-size: 16px;
  color: #0d0d0d;
  width: 100%;
}

.imageBox {
  margin-left: 10%;
  margin-top: 0;
  width: 40%;
  grid-area: imageBox;
}

.overviewP3 {
  font-size: 16px;
  margin-left: 0;
  margin-top: 0;
  color: #0d0d0d;
  width: 100%;
}

.overviewP4 {
  font-size: 16px;
  color: #0d0d0d;
  width: 100%;
}

.imageBox2 {
  margin-left: 5%;
  padding-left: 0;
  width: 40%;
  grid-area: imageBox;
  position: relative;
}

#overviewInfo {
  position: absolute;
  width: 84%;
  height: 50%;
  right: 0;
  bottom: 0;
  border: 1px solid black;
  background: #0d0d0d;
}

#overviewInfo h3{
  text-decoration: underline;
  color: white;
}

#overviewInfo ul li a{
  cursor: pointer;
  color: #f26e50;
  padding-left: 0;
}

#overviewInfo ul li a:hover{
  color: #fdfdfd;
}

#overviewInfo ul li{
  display: block;
  margin-left: 0;
}

#overviewImg {
  width: 100%;
  margin-top: 0;
}

#overviewImg2 {
  width: 80%;
  margin-top: 1%;
}

#overviewBanner {
  width: 100%;
  height: 100%;
}

#weatherBanner {
  width: 100%;
  height: 100%;
}

.overviewHr {
  padding: 0;
  margin-top: 3%;
  margin-bottom: 3%;
}


/*MARS WEATHER STYLES*/
#weatherBoxes {
  display: grid;
  max-width: 1200px;
  grid-gap: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
  grid-template-areas:
                       "weatherBox1 weatherBox2";
                       grid-template-columns: 45% 45%;
}

#weatherParagraph {
  max-width: 1200px;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  display: grid;
  margin-left: 10%;
  grid-gap: 10%;
  grid-template-columns: 50% 50%;
}

.weatherResults {
  background: black;
  opacity: 0.7;
  width: 50%;
  height: 35%;
  position: absolute;
  left: 8.5%;
}

.weatherbox {
  background: #ddd;
  color: black;
}

.weatherBox1 {
  grid-area: weatherBox1;
  border: 1px solid black;
}

.weatherBox2 {
  grid-area: weatherBox2;
  border: 1px solid black;
}

.weatherBoxH3 {
  background: #592B27;
  height: 100px;
  position: relative;
}

.weatherH3 {
  color: white;
  margin-top: 0;
  padding-top: 6%;
}

#weatherH4 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin-left: 10%;
}

.weatherP:first-of-type {
  margin-top: 2%;
  margin-bottom: 0;
  font-weight: bold;
}

.weatherP {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  margin-left: 5%;
  margin-top: 0;
  width: 90%;
}

#currentWind {
  margin-left: 25%;
  color: #F26E50;
}

.thumbContainer {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  width: 85%;
  padding-top: 0;
}

.weatherThumb {
  width: 90%;
  margin-left: 8.5%;
  margin-top: 0%;
}

#weatherToday {
  width: 100%;
}

#windImg {
  width: 100%;
}

.thumbPhigh {
  position: absolute;
  color: white;
  margin-top: 1%;
  top: 0%;
  left: 10%;
}

.thumbPavg {
  position: absolute;
  color: white;
  margin-top: 4%;
  top: 4%;
  left: 10%;
}

.thumbPlow {
  position: absolute;
  color: white;
  margin-top: 4%;
  top: 14%;
  left: 10%;
}

#high {
  margin-left: 2px;
}

#avg {
  margin-left: 12px;
}

#low {
  margin-left: 6px;
}

#highWind {
  margin-left: 2px;
}

#avgWind {
  margin-left: 12px;
}

#lowWind {
  margin-left: 7px;
}

.tempChoice:first-of-type {
  margin-left: 7%;
}

.tempChoice {
  border: 0;
  margin-top: 1.2%;
  left: 7%;
  height: 25px;
  width: 80px;
  border: none;
  background: #592B27;
  color: white;
  box-shadow: 2px 3px #111;
  cursor: pointer;
}

.speedChoice:first-of-type {
  margin-left: 7%;
}

.speedChoice {
  margin-top: 2%;
  margin-bottom: 0%;
  height: 30px;
  width: 40px;
  border: none;
  background: #592B27;
  color: white;
  box-shadow: 2px 3px #111;
  cursor: pointer;
}


/*MISSION TIMELINE STYLES*/
#timelineImg {
  width: 75%;
  height: 222px;
  margin-left: 5%;
  display: inline-block;
}

#stagesGrid {
  display: grid;
  grid-template-areas:
                       "stagesBox1 stagesBox2"
                       "stagesBox3 stagesBox4"
                       "stagesBox5 stagesBox5";
}

.stagesBox {
  border-radius: 10px;
  margin: 0 auto;
  background: lightgrey;
  width: 460px;
  height: 350px;
  margin-bottom: 5%;
  margin-left: 10%
}

.stagesBox1 {
  grid-area: stagesBox1;
}

.stagesBox2 {
  grid-area: stagesBox2;
  margin-left: 0;
}

.stagesBox3 {
  grid-area: stagesBox3;
}

.stagesBox4 {
  grid-area: stagesBox4;
  margin-left: 0;
}

.stagesBox5 {
  grid-area: stagesBox5;
  margin-left: 5%;
}

.stagesH4 {
  background-color: #2c2622;
  border-radius: 10px 10px 0 0;
  margin-top: 0;
  height: 15%;
  color: white;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 5%;
  padding-top: 6%;
  margin-bottom: 0;
}

.stagesText {
  width: 90%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: #0d0d0d;
  font-size: 16px;
}

div.stagesText ol{
  margin-left: 0;
  padding-left: 0;
}

div.stagesText li{
  display: block;
  margin-left: 0;
}

div.stagesText li:first-of-type{
  margin-left: 0;
  padding-left: 0;
}

#countdownSection {
  background: #0d0d0d;
  width: 40%;
  margin-left: 30%;
  padding-bottom: 1%;
  margin-bottom: 5%;
}

#countdownH4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 3%;
  padding-top: 2%;
  color: #fdfdfd;
  text-transform: uppercase;
  text-decoration: underline;
}

.timerP {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #f26e50;
}


/*Footer*/
footer {
  grid-area: footer;
  height: 100px;
  background: #0d0d0d;
  color: #fdfdfd;
}

.desktopFooter {
  display: block;
  position: absolute;
  right: 2%;
}

.newsletterP {
  font-size: 16px;
  margin-top: 2.5%;
  margin-bottom: 2%;
  font-family: 'Open Sans', sans-serif;
  color: #fdfdfd;
}

footer input[type="button"] {
  font-family: 'Open Sans', sans-serif;
  height: 39px;
  width: 80px;
  margin-top: 0px;
  border: none;
  color: white;
  background: #592b27;
  cursor: pointer;
}

footer input[type="button"]:hover {
  background: #f26e50;
}

footer input[type="text"] {
  height: 33px;
  width: 300px;
  margin-top: 0px;
  font-size: 14px;
  background: #fdfdfd;
}


/*TABLET STYLES*/
@media screen and (max-width: 980px) {
html {
  width: 100%;
  max-width: 980px;
}

header {
  height: 100px;
  grid-template-rows: 100%;
  grid-template-columns: 17.3% 75.3% 7.3%;
}

#container {
  width: 100%;
  max-width: 980px;
}

#newMain {
  display: none;
}

h1 {
  margin-top: 5%;
  margin-left: 0;
  text-align: center;
}

div.social {
  display: none;
}

ul {
  display: none;
}


/* Burger Div */
.burgerDiv {
  width: 100%;
  background: #592B27;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 22% 22% 22% 22%;
  font-family: 'Open Sans', sans-serif;
}

.burger {
  display: block;
}

.line {
  background: white;
  width: 65%;
  height: 6%;
  margin-top: 12%;
}

.line:first-of-type {
  margin-top: 65%;
}

div.burgerLinks a {
  width: 100%;
  font-size: 32px;
  color: white;
  padding-top: 7%;
  margin-left: 33%;
  text-align: center;
  text-decoration: none;
}

.linkHr {
  width: 100%;
  margin-top: 15.3%;
}

.linkH3 {
  margin-left: 0%;
  padding-top: 80px;
}

.containDiv {
  display: block;
}

.containDivNone {
  display: none;
}

.close {
  position: absolute;
  font-size: 50px;
  color: white;
  top: 0;
  right: 3%;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.closeHidden {
  display: none;
}

.open {
  display: inline-block;
}


/*MISSION OVERVIEW STYLES*/
.textBox2 {
  margin-left: 5%;
  width: 90%;
}

.overviewContainer {
  display: inline-block;
}

.imageBox {
  margin-left: 0%;
  width: 100%;
}

.imageBox2 {
  width: 100%;
  margin-left: 0;
}

.textContainer {
  width: 95%;
  margin-top: 5%;
}

#overviewH3 {
  margin-left: 0;
}

#overviewInfo {
  position: relative;
  width: 95%;
  margin-top: 10%;
}

#overviewInfo ul{
  display: block;
}

#overviewImg {
  width: 90%;
  margin-top: 5%;
}

#overviewImg2 {
  width: 90%;
  margin-top: 5%;
}


/*MARS WEATHER STYLES*/
#mainWeather {
  grid-area: main;
  display: grid;
  grid-template-areas:
                       "topImage"
                       "textBox1"
                       "textBox2"
                       "imageBox";
}

#weatherBoxes {
  grid-template-areas: "weatherBox1"
                       "weatherBox2";
  grid-template-columns: 100%;
  grid-gap: 0;
  width: 100%;
  margin-left: 0;
}

#weatherParagraph {
  margin-left: 5%;
  margin-bottom: 5%;
  font-size: 16px;
  max-width: 980px;
}

.weatherBox1 {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.weatherBox2 {
  width: 90%;
  margin: 0 auto;
}


/*MISSION TIMELINE STYLES*/
#stagesGrid {
  grid-template-areas: "stagesBox1"
                       "stagesBox2"
                       "stagesBox3"
                       "stagesBox4"
                       "stagesBox5";
}

.topImage {
  max-width: 980px;
  width: 100%;
}

.stagesBox {
  width: 90%;
  margin-left: 5%;
  height: 340px;
}

.stagesH4 {
  font-size: 22px;
  padding-top: 3%;
}

#countdownSection {
  width: 70%;
  margin-left: 15%;
}

#countdownH4 {
  font-size: 20px;
}

#timelineImg {
  width: 90%;
}

#mainTimeline {
  height: 100%;
  grid-template-areas: "topImage"
                       "textBox1"
                       "textBox2"
                       "imageBox";
}


/*Footer */
footer {
  height: 70px;
}

.socialMobile {
  display: block;
  margin-left: 33%;
}

.desktopFooter {
  display: none;
}

.fa {
  font-size: 32px;
  margin-left: 10%;
  margin-top: 3%;
}
}


@media screen and (max-width: 480px) {
html {
  height: 100%;
}

header {
  grid-template-columns: 50% 35% 15%;
}

#container {
  max-width: 480px;
}

.main {
  height: 100%;
}

.socialMobile {
  margin-left: 25%;
}

h1 {
  margin-top: 15%;
}


/*MISSION OVERVIEW STYLES*/
.topImage {
  max-width: 480px;
  height: 140px;
}

#container {
  overflow: hidden;
}

.imageBox {
  margin-left: 15%;
}

#overviewImg {
  width: 100%;
}

#overviewImg2 {
  width: 100%;
}

#overviewInfo ul{
  padding-left: 5%;
}

#weatherBanner {
  width: 150%;
  height: 100%;
}

.overviewContainer {
  display: block;
  max-width: 480px;
  width: 100%;
}

.textContainer {
  max-width: 480px;
}

.overviewP {
  margin-top: 10%;
  margin-bottom: 10%;
}

.imageBox {
  margin-left: 0;
  padding-left: 0;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 90%;
}

.imageBox2 {
  margin-top: 10%;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  width: 90%;
}

.imageBox2:last-of-type {
  width: 100%;
}

.overviewP3 {
  margin-right: 0;
  margin-top: 10%;
  width: 95%;
  max-width: 480px;
}

.overviewP4 {
  margin-top: 0%;
  margin-bottom: 10%;
  max-width: 480px;
}

#overviewImg {
  width: 100%;
  margin-top: 0;
}


/*MISSION TIMELINE STYLES*/
#timelineImg {
  height: 50%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.stagesBox {
  height: 450px;
  width: 98%;
  margin-left: 1%;
  margin-top: 5%;
}


/*MARS WEATHER STYLES*/
.weatherbox {
  height: 450px;
  width: 98%;
}

.weatherResults {
  height: 50%;
}

#weatherParagraph {
  max-width: 480px;
  width: 90%;
  grid-gap: 0;
  grid-template-columns: 100%;
}

#weatherParagraph p {
  margin-bottom: 10%;
}

#weatherParagraph p:last-of-type {
  margin-bottom: 5%;
}

#weatherBoxes {
  max-width: 480px;
  grid-column-gap: 0%;
}

.thumbPhigh {
  top: 0%;
}

.thumbPavg {
  top: 10%;
}

.thumbPlow {
  top: 25%;
}


/* Burger Div */
.burgerDiv {
  grid-template-columns: 100%;
  text-align: center;
}

div.burgerLinks a {
  font-size: 22px;
  padding-top: 0;
  margin-left: 0%;
}

.linkHr {
  margin-top: 16.3%;
  padding-top: 0%;
}

.linkH3 {
  margin-top: 13%;
  padding-top: 0px;
}

.linkH3:first-of-type {
  margin-left: 0%;
  margin-top: 10%;
}

.containDiv {
  padding-top: 0px;
}

.close {
  font-size: 30px;
  right: 5%;
}

/*Footer*/
footer {
  opacity: 1;
  height: 70px;
}

.fa {
  margin-top: 7%;
}
